* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
 
  height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(45,45,45,1) 35%, rgba(87,87,87,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
 
}

.logo-app{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}